{% extends 'base.html' %}
{% block title %}
{{object.doc_name}}
{% endblock title %}

{% block content %}
<h1 style="text-align:center;" class="text-primary">{{object.doc_name}}</h1>
<hr>
<h2 class="text-secondary">Created on {{object.created}} and last updated on {{object.updated}}</h2>
<img src="/media/{{object.doc_img}}" alt="" width="50" height="50">
<h3 style="text-align:center">{{object.doc_name}}</h3>
<p>
    {{object.doc}}
</p>
<hr>
<h4>About</h4>
<b class="text-secondary">{{object.about}}</b>
{% endblock content %}