{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HOME PAGE{% endblock title%}</title>
</head>
<body>
{% block content %}
<h1>DOCUMENT WRITER</h1>
<h2>DOCUMENTS</h2>
<nav style="text-align:center;">
    <a href="{% url 'document:home' %}" class="link p-3">HOME🏠</a>
    <br>
    <a href="{% url 'document:new' %}" class="link p-3">NEW📂</a>
</nav>
<input type="text" placeholder="search..." class="m-3 ml-4 p-2" style="width:10cm;"> <button class="btn btn-primary" type="submit">SEARCH</button>
<br>
{%for doc in document %}
<div class="card mb-3">
  <div class="card-body">
    <a class="card-link" href="{{doc.get_absolute_url}}">{{doc.doc_name}}</a>
    <p class="card-text">{{doc.about}}</p>
      <a href="{{doc.id}}/delete" class="btn btn-danger">DELETE</a>
    <p class="card-text"><small class="text-muted">Created on {{doc.created}}</small></p>
    <p class="card-text"><small class="text-muted">Last updated {{doc.updated}}</small></p>
  </div>
</div>
{%endfor%}
{% endblock content %}
</body>
</html>