{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
NEW
{% endblock title %}

{% block content %}
<nav style="text-align:center;">
    <a href="{% url 'document:home' %}" class="link p-3">HOME🏠</a>
    <br>
    <a href="{% url 'document:new' %}" class="link p-3">NEW📂</a>
</nav>
<form action="" method="post" class="text-white">
    {% csrf_token %}
    <div class="row">
        <div class="col-6 m-3">
            {{ form.doc_name|as_crispy_field }}
        </div>
        <div class="col-6 m-3">
            {{ form.doc|as_crispy_field }}
        </div>
        <div class="col-6 m-3">
            {{ form.about|as_crispy_field }}
        </div>
        <div class="col-6 m-3">
            {{ form.doc_img|as_crispy_field }}
        </div>
    </div>
    <button class="text-white btn btn-dark m-3">CREATE</button>
</form>
{% endblock content %}